{% extends 'base.html' %} {% block content %}


<div class="col-3"> 
    <br>
    <form>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="출발지">
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="도착지">
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-primary mb-2">Reset</button>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </form>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">,.</p>
            <small>Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>

    </div>
</div>

<div class="col">
    <div id="map" style="width:100%;height:100%;"></div>
</div>

<script>
        var sx = 126.93737555322481;
        var sy = 37.55525165729346;
        var ex = 126.88265238619182;
        var ey = 37.481440035175375;
        
        function searchPubTransPathAJAX() {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX="+sx+"&SY="+sy+"&EX="+ex+"&EY="+ey+"&apiKey=Z1tI1PHDPV7ueYpK4TUU2A";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                console.log( xhr.responseText ); // <- xhr.responseText 로 결과를 가져올 수 있음
                //노선그래픽 데이터 호출
                callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][0].info.mapObj);
                }
            }
        }

        
        //길찾기 API 호출
        searchPubTransPathAJAX();
        
        function callMapObjApiAJAX(mabObj){
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@"+mabObj+"&apiKey=Z1tI1PHDPV7ueYpK4TUU2A";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultJsonData = JSON.parse(xhr.responseText);
                    drawKakaoMarker(sx,sy);					// 출발지 마커 표시
                    drawKakaoMarker(ex,ey);					// 도착지 마커 표시
                    drawKakaoPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                    // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                    if(resultJsonData.result.boundary){
                            var boundary = new kakao.maps.LatLngBounds(
                                    new kakao.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                                    new kakao.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                                    );
                            map.panTo(boundary);
                    }
                }
            }
        }
        
        // 지도위 마커 표시해주는 함수
        function drawKakaoMarker(x,y){
            var marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(y, x),
                map: map
            });
        }
        
        // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
        function drawKakaoPolyLine(data){
            var lineArray;
            
            for(var i = 0 ; i < data.result.lane.length; i++){
                for(var j=0 ; j <data.result.lane[i].section.length; j++){
                    lineArray = null;
                    lineArray = new Array();
                    for(var k=0 ; k < data.result.lane[i].section[j].graphPos.length; k++){
                        lineArray.push(new kakao.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                    }
                    
                //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
                    if(data.result.lane[i].type == 1){
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#003499'
                        });
                    }else if(data.result.lane[i].type == 2){
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#37b42d'
                        });
                    }else{
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3
                        });
                    }
                }
            }
        }
</script>




{% endblock %}