{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- bootstrap -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- kakaomap -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50b1a428382d60cfb98a67767963d69&libraries=services"></script>



</head>

<style>
    html,
    body {
        height: 100%;
        width: 100%;
    }
</style>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: calc(100% - 50px);">
            <div class="col-3">
                <br>
                <div>
                    <div class="form-group">
                        <form onsubmit="searchPlaces(); return false;">
                            <input class="form-control form-control-lg" type="text" id="keyword" placeholder="장소">
                            <button type="reset" class="btn btn-primary mb-2">Reset</button>
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </form>
                    </div>
                    <hr>
                    <div class="list-group" id="placeList" style="height: 700px; overflow:auto;"></div>
                </div>
            </div>
            <div class="col">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>

        </div>
    </div>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 

            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 마커를 담을 배열입니다
        var markers = [];

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

        var sx = '{{sx}}', sy = '{{sy}}', ex = '{{ex}}', ey = '{{ey}}', route = JSON.parse('{{route}}'.replace(/&quot;/g, '"'));

        var route_list = new Array();
        var data_list = new Array();
        var pagination_count = 0;
        callMapObjApiAJAX(route.info.mapObj);

        function callMapObjApiAJAX(mabObj) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" + mabObj + "&apiKey=Z1tI1PHDPV7ueYpK4TUU2A";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultJsonData = JSON.parse(xhr.responseText);
                    drawKakaoMarker_start(sx, sy);					// 출발지 마커 표시
                    drawKakaoMarker_end(ex, ey);					// 도착지 마커 표시
                    drawKakaoPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                    // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                    if (resultJsonData.result.boundary) {
                        var boundary = new kakao.maps.LatLngBounds(
                            new kakao.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                            new kakao.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                        );
                        map.panTo(boundary);
                    }
                }
            }
        }

        function drawKakaoPolyLine(data) {
            var lineArray;
            console.log(data.result.lane)
            for (var i = 0; i < data.result.lane.length; i++) {
                for (var j = 0; j < data.result.lane[i].section.length; j++) {
                    lineArray = null;
                    lineArray = new Array();
                    for (var k = 0; k < data.result.lane[i].section[j].graphPos.length; k++) {
                        lineArray.push(new kakao.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                        route_list.push([data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x]);
                    }

                    //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
                    if (data.result.lane[i].type == 1) {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#003499'
                        });
                    } else if (data.result.lane[i].type == 2) {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#37b42d'
                        });
                    } else {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3
                        });
                    }
                }
            }
        }

        function searchPlaces() {


            data_list = [];

            var keyword = document.getElementById('keyword').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }
            callback1(keyword, callback2);
            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        }


        function callback1(keyword, callback) {
            console.log("start");
            for (i = 0; i < route_list.length; i++) {
                this.setTimeout( (function(i){
                    console.log(keyword);
                    ps.keywordSearch(keyword, placesSearchCB, { location: new kakao.maps.LatLng(route_list[i][0], route_list[i][1]), radius: 500 });
                })(i), 10)
            }
            console.log("1");
            return callback();
            console.log("4");
        }

        function callback2() {
            console.log("2");
            console.log(data_list);
            var data_list_ = data_list.reduce((prev, now) => {
                if (!prev.some(obj => obj.id === now.id)) {
                    prev.push(now);
                }
                return prev;

            }, []);
            displayPlaces(data_list_);
            console.log(data_list_);
            console.log("3");
        }

        
        var count=0;

        function placesSearchCB(data, status, pagination) {
            console.log(count);
            count+=1;
            console.log(status);
            if (status === kakao.maps.services.Status.OK) {
                data_list = data_list.concat(data);
                console.log(data);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {
                return;

            }
        }


        // 검색 결과 목록과 마커를 표출하는 함수입니다
        function displayPlaces(places) {

            var listEl = document.getElementById('placeList'),
                fragment = document.createDocumentFragment(),
                bounds = new kakao.maps.LatLngBounds(),
                listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();
            console.log(places.length)
            for (var i = 0; i < places.length; i++) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker = addMarker(placePosition),
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function (marker, place) {
                    kakao.maps.event.addListener(marker, 'mouseover', function () {
                        displayInfowindow(marker, place.place_name);
                    });

                    kakao.maps.event.addListener(marker, 'mouseout', function () {
                        infowindow.close();
                    });

                    itemEl.onmouseover = function () {
                        var position = new kakao.maps.LatLng(place.y, place.x);
                        displayInfowindow(marker, place.place_name);
                        map.panTo(position);
                    };

                    itemEl.onmouseout = function () {
                        infowindow.close();
                    };
                })(marker, places[i]);

                fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
            listEl.appendChild(fragment);

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            //map.setBounds(bounds);
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('a'),
                itemStr = '<div class="d-flex w-100 justify-content-between">' +
                    '   <h5 class="mb-1">' + places.place_name + '</h5>' + '</div>';

            if (places.road_address_name) {
                itemStr += '    <p class="mb-1">' + places.road_address_name + '</p>';
            } else {
                itemStr += '    <p class="mb-1">' + places.address_name + '</p>';
            }

            itemStr += '  <small class="text-muted">' + places.phone + '</small>';

            el.innerHTML = itemStr;
            el.className = 'list-group-item list-group-item-action';

            return el;
        }

        function addMarker(position) {
            var marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
            });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }
        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {
            while (el.hasChildNodes()) {
                el.removeChild(el.lastChild);
            }
            route_list = new Array();
            data_list = new Array();
        }


        // 지도위 마커 표시해주는 함수
        function drawKakaoMarker_start(x, y) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_b.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions = {
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions);
            var marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(y, x),
                map: map,
                image: markerImage
            });
        }

        function drawKakaoMarker_end(x, y) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/blue_b.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions = {
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions);
            var marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(y, x),
                map: map,
                image: markerImage
            });
        }


    </script>
</body>

</html>