{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- bootstrap -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- kakaomap -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50b1a428382d60cfb98a67767963d69&libraries=services"></script>



</head>

<style>
    html,
    body {
        height: 100%;
        width: 100%;
    }
</style>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: calc(100% - 50px);">
            <div class="col-3">
                <br>
                <div>
                    <div class="form-group">
                        <form onsubmit="searchPlaces(); return false;">
                            <input class="form-control form-control-lg" type="text" id="keyword_start" placeholder="출발지">
                        </form>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-primary mb-2">Reset</button>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                    <hr>
                    <div class="list-group" id="placeList"></div>
                    <div id="pagination" style="text-align: center; letter-spacing: 10px; font-size: large;"></div>
                </div>
            </div>
            <div class="col">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>

        </div>
    </div>
    <script src="\static\js\base.js" type="text/javascript"></script>
    <script>

        var sx = '{{sx}}', sy = '{{sy}}', ex = '{{ex}}', ey = '{{ey}}', route_id = '{{route_id}}'
        var route_list = new Array();

        function searchPubTransPathAJAX(id) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=Z1tI1PHDPV7ueYpK4TUU2A";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText); // <- xhr.responseText 로 결과를 가져올 수 있음
                    //노선그래픽 데이터 호출
                    callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][id].info.mapObj);
                }
            }
        }
        
        searchPubTransPathAJAX(route_id)
       
        function callMapObjApiAJAX(mabObj) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" + mabObj + "&apiKey=Z1tI1PHDPV7ueYpK4TUU2A";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultJsonData = JSON.parse(xhr.responseText);
                    drawKakaoMarker(sx, sy);					// 출발지 마커 표시
                    drawKakaoMarker(ex, ey);					// 도착지 마커 표시
                    drawKakaoPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                    // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                    if (resultJsonData.result.boundary) {
                        var boundary = new kakao.maps.LatLngBounds(
                            new kakao.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                            new kakao.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                        );
                        map.panTo(boundary);
                    }
                }
            }
        }

        function drawKakaoPolyLine(data) {
            var lineArray;
            var templist = new Array();
            for (var i = 0; i < data.result.lane.length; i++) {
                for (var j = 0; j < data.result.lane[i].section.length; j++) {
                    lineArray = null;
                    lineArray = new Array();
                    for (var k = 0; k < data.result.lane[i].section[j].graphPos.length; k++) {
                        lineArray.push(new kakao.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                        templist.push(new kakao.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                    }

                    //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
                    if (data.result.lane[i].type == 1) {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#003499'
                        });
                    } else if (data.result.lane[i].type == 2) {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#37b42d'
                        });
                    } else {
                        var polyline = new kakao.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3
                        });
                    }
                }
            }
            route_list.push(templist);
        }

        function searchPlaces() {
            console.log("방가");
            var keyword = document.getElementById('keyword_start').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch(keyword, placesSearchCB, { size: 6 });
        }

        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다
                displayPlaces(data);

                // 페이지 번호를 표출합니다
                displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }
        // dataArray.extend(ps.keywordSearch(keyword, placesSearchCB, {
        //                     size: 6, 
        //                     y : data.result.lane[i].section[j].graphPos[k].y,
        //                     x : data.result.lane[i].section[j].graphPos[k].x,
        //                     radius : 5000,
        //                 }));
    </script>
</body>

</html>