{% extends 'base.html' %} {% block content %}
<div class="sidebar">
    <div class="show1">
        <div class="sidebar-up">
            <div class="search-start">
                <input type="text">
            </div>
            <div class="search-end">
                <input type="text">
            </div>
            <div class="search-buttons">
                <button class="reset">다시</button>
                <button class="search">검색</button>
            </div>
        </div>
        <div class="sidebar-down">
            <div>

            </div>
        </div>    
    </div>
</div>
{% endblock %}