<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<style>

html, body {
    height: 100%;
    width: 100%;
}
.sidebar-up {
    display: grid;
}

.sidebar-up div {
    height: 3em;
    margin: 1em;
}

.sidebar-up div input {
    height: 100%;
    width: 100%;
}

.sidebar-up .reset {
    height: 100%;
}

.sidebar-up .search{
    height: 100%;
    float: right;
}

.sidebar-down {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-down div{
    height: 100%;
    margin: 1em;
    border: solid black 1px;
}
</style>

<body>
    <div class="sidebar-up">
        <div class="search-start">
            <input type="text">
        </div>
        <div class="search-buttons">
            <button class="reset">다시</button>
            <button class="search">검색</button>
        </div>
    </div>
    <div class="sidebar-down">
        <div>

        </div>
    </div>
</body>
</html>
